[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
-f https://download.pytorch.org/whl/torch_stable.html
torch = "==1.8.1+cpu"
torchvision = "==0.2.1"
flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
